@font-face {
  font-family: "Catamaran";
  src: url("/fonts/Catamaran.ttf");
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #5473e8;
  --black: #070d18;
  --dark-gray: #363636;
  --white: #fff;
  --red: #ca3e47;
  --green: green;
  --gray: #f7f7f7;
  --shadow: 0 .025rem .25rem rgba(0, 0, 0, .1);
}

input, button {
  border: none;
  outline: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

body {
  color: var(--black);
  font-family: "Catamaran";
  background-color: var(--white);
  overflow-x: hidden;
  overflow-y: auto;
}

/* font sizes */

@media screen and (min-width: 480px) {
  html { font-size: 1.1rem }
}

@media screen and (min-width: 768px) {
  html { font-size: 1.2rem }
}

@media screen and (min-width: 1024px) {
  html { font-size: 1.3rem }
}

@media screen and (min-width: 1200px) {
  html { font-size: 1.4rem }
}

/* button styles */

button {
  width: 100%;
  padding: .75em;
  display: block;
  font-weight: bold;
  font-size: .625rem;
  color: var(--white);
  border-radius: .25em;
  background-color: var(--primary);
  transition: .3s ease-in;
}

button:hover {
  cursor: pointer;
  background-color: var(--black);
}

button.red {
  background-color: var(--red);
}

button.gray {
  color: var(--dark-gray);
  background-color: var(--gray);
}

button:is(.red, .gray):hover {
  opacity: .8;
}

.buttons-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.buttons-row button {
  width: fit-content;
  margin-left: .25rem;
}

/* message container styles */

.message-container {
  width: 100%;
  min-height: calc(100vh - 2.5rem);
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.message-container svg {
  width: 8rem;
  height: 8rem;
  stroke: var(--dark-gray);
}

.message-container h3 {
  margin: 1rem 0;
}

.message-container button {
  width: fit-content;
}
