@font-face {
  font-family: "Catamaran";
  src: url("/fonts/Catamaran.ttf");
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #4f4fed;
  --black: #070d18;
  --dark-gray: #363636;
  --white: #fff;
  --red: #ca3e47;
  --gray: #ededed;
  --shadow: 0 .025rem .25rem rgba(0, 0, 0, .1);
}

input, button {
  border: none;
  outline: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

body {
  padding: 2rem 0;
  color: var(--black);
  font-family: "Catamaran";
  background-color: var(--white);
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 1rem auto 5rem;
  padding: 0 1rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* font sizes */

@media screen and (min-width: 480px) {
  html { font-size: 1.1rem }
}

@media screen and (min-width: 768px) {
  html { font-size: 1.2rem }
}

@media screen and (min-width: 1024px) {
  html { font-size: 1.3rem }
}

@media screen and (min-width: 1200px) {
  html { font-size: 1.4rem }
}
