@font-face {
  font-family: "Catamaran";
  src: url("/fonts/Catamaran.ttf");
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #5473e8;
  --black: #070d18;
  --dark-gray: #363636;
  --white: #fff;
  --red: #ca3e47;
  --gray: #f7f7f7;
  --shadow: 0 .025rem .25rem rgba(0, 0, 0, .1);
}

input, button {
  border: none;
  outline: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

body {
  color: var(--black);
  font-family: "Catamaran";
  background-color: var(--white);
  overflow-x: hidden;
  overflow-y: auto;
}

/* font sizes */

@media screen and (min-width: 480px) {
  html { font-size: 1.1rem }
}

@media screen and (min-width: 768px) {
  html { font-size: 1.2rem }
}

@media screen and (min-width: 1024px) {
  html { font-size: 1.3rem }
}

@media screen and (min-width: 1200px) {
  html { font-size: 1.4rem }
}

/* button styles */

button {
  width: 100%;
  padding: .75em;
  display: block;
  font-weight: bold;
  font-size: .625rem;
  color: var(--white);
  border-radius: .25em;
  background-color: var(--primary);
  transition: .3s ease-in;
}

button:hover {
  cursor: pointer;
  background-color: var(--black);
}
