.pages {
  width: fit-content;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: .25rem;
}

.pages button {
  padding: .5em .75em;
  font-size: .6rem;
  border-radius: 0;
  font-weight: bold;
  color: var(--dark-gray);
  background-color: var(--white);
}

.pages button.active {
  color: var(--white);
  background-color: var(--primary);
}

.pages button.active:hover {
  background-color: var(--dark-gray);
}
